<nav class="navbar">
    <div class="nav-container">
        <a href="#" class="logo">
            <img  width="40" alt="霖依智造 Logo">
        </a>
        <i class="fas fa-bars menu-toggle" onclick="toggleMenu()"></i>
        <div class="nav-links" id="navLinks">
            <a id="userLink" class="nav-link" ></a>
            <a  class="nav-link">首页</a>
            <a href="#" class="nav-link">产品</a>
            <a  class="nav-link">服务</a>
            <a class="nav-link">关于</a>
            <a href="#" class="nav-link">联系</a>
            <div id="userInfo" class="userInfo">
                <div id="logout" class="userInfo_context">退出登录</div>
                <div id="usercontext" class="userInfo_context">个人信息</div>
            </div>
        </div>
    </div>
    
</nav>
<div style="height: 70px"></div>

